<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    <script src="/lib/b-spline.js"></script>
    <script>
        addEventListener("load", () => {
            let cvs = document.querySelector("#cvs");
            let ctx = cvs.getContext("2d");
            cvs.width = innerWidth;
            cvs.height = innerHeight;

            var bspline = interpolate;
            var points = [
                [-1.0, 0.0],
                [-0.5, 0.5],
                [0.5, -0.5],
                [1.0, 0.0]
            ];
            var degree = 2;
            var knots = [
                0, 0, 0, 1, 2, 2, 2
            ];

            ctx.translate(innerWidth / 2, innerHeight / 2);
            ctx.moveTo(-100, 0);
            for (var t = 0; t <= 1; t += 0.1) {
                var point = bspline(t, degree, points);
                ctx.lineTo(point[0] * 100, point[1] * 100);
            }
            ctx.lineWidth = 2;
            ctx.strokeStyle = '#f00';
            ctx.stroke();
        });

    </script>
</head>

<body>
    <canvas id="cvs"></canvas>
</body>

</html>