* {
    margin: 0;
    padding: 0;
}
body,html {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    overflow: hidden;
    display: block;
}
body {
    background: #91ec1c;
    display: flex;
    flex-direction: column;
}
.toolbar {
    position: relative;
    min-height: 30px;
    background: #333;
}
.main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: row;
}
.main>.work {
    position: relative;
    flex: 1;
    display: flex;
    background: #f0f0f0;
    min-width: 0;
    overflow: hidden;
}
.main>.inspector {
    min-width: 200px;
    background: #28575e;
}
.toolbar {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    color: #687713;
}
.toolbar>div {
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
}
.toolbar>div:hover {
    background: rgba(253, 99, 99, 0.705);
}
.toolbar>div>div{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stage {
    position: relative;
    left: 0;
    top: 0;
    flex: 1;
    min-width: 0;
}

.stage>svg>*:not(.flag):hover {
    opacity: 0.6;
    stroke-width: 5px;
}